Com.Bateeq.Service.Core.Lib/bin
Com.Bateeq.Service.Core.Lib/obj
Com.Bateeq.Service.Core.WebApi/bin
Com.Bateeq.Service.Core.WebApi/obj
Com.Bateeq.Service.Core.WebApi/appsettings.json
Com.Bateeq.Service.Core.WebApi/Properties/launchSettings.json
